.footer {
    width: 100vw;
    height: 5em;
    background-color: var(--color1);
    position: relative;
    bottom: 0;
}
.footerFlexbox {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 30%;
    max-width: 1080px;
    justify-content: space-between;
}

@media only screen and (max-device-width: 812px) {
    .footerFlexbox {
        margin: 0 2%;
    }
}

.content {
}

.link {
  color: inherit;
  margin-left: 20px;
}

.icon:hover {
    color: white;

}

.icon {
      transition: 0.3s;
}

.icons {
    display: flex;
    /* gap: 20px; */
}