.header {
    width: 100vw;
    height: 5em;
    background-color: var(--color1);
    z-index: 1;
    position: fixed;
    top: 0;
}

.headerFlexbox {
    display: flex;
    flex-direction: row;
    margin: 0 30%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.headerFlexbox span {
    transition: 0.3s;
}

.headerFlexbox span:hover {
    color: white;
}

.title {
    /* color: white; */
    font-weight: bold;
}

.tools {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tools a {
    text-decoration: none;
    color: inherit;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* color: white; */
}