.map {
    height: 50vh;
    width: 100vw;
}

.timeline {
    margin: 5em 30%;
}

.alert {
    margin: 5em 30%;
}

@media only screen and (max-device-width: 812px) {
    .timeline {
        margin: 5em 2%;
    }

    .alert {
        margin: 5em 2%;
    }
}

.heading {
    color: white;
    margin-left: 2em;
}

.container {
    min-height: 100vh;
    /* scroll-behavior: smooth; */
      /* overflow-y: scroll; */
        /* display: block; */
}

.jumbotron {
    height: 30em;
    background-image: url("/images/flinders-street.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 5em;
    display: flex;
    align-items: center;
}

