.map {
    height: 50vh;
    width: 100vw;
}

.timeline {
    margin: 5em 30%;
}

.alert {
    margin: 5em 30%;
}


.heading {
    color: white;
    margin-left: 2em !important;
    position: relative;
}

.container {
    min-height: 100vh;
    /* scroll-behavior: smooth; */
      /* overflow-y: scroll; */
        /* display: block; */
}

.jumbotron {
    height: 30em;
    margin-top: 5em;
    display: flex;
    align-items: center;
    background-color: black;
}

.jumbotron::before {
    content: "";
    height: 30em;
    margin-top: 5em;
    background-image: url("/images/flinders-street.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
}

.purple {
    color: rgba(100, 110, 200)
}

.pink {
    color: rgba(200, 100, 240)
}

@media only screen and (max-device-width: 812px) {
    .timeline {
        margin: 5em 2%;
    }

    .alert {
        margin: 5em 2%;
    }

    .heading {
        margin: 0 5%;
    }
}