body {
    margin: 0;
    background-color: var(--color2);
}

html {
    scroll-behavior: smooth;
}

/* a {
    color: inherit;
    text-decoration: none;
} */

:root {
    --color1: #07151E;   /* Rich Black FOGRA 29 */
    --color2: #E0E8F3; /* Alice Blue */
    --color3: #2E6B63; /* Myrtle Green */
    --color4: #E45C38; /* Orange Soda */
    --color5: #C6974F; /* Camel */
}

@media (prefers-color-scheme: dark) {
    :root {
        --color1: #E0E8F3; /* Alice Blue */
        --color2: #07151E; /* Rich Black FOGRA 29 */
    }
}

:target:before {
    content: "";
    display: block;
    height: 5em;
    margin: -5em 0 0;
}